<p>Здравствуйте,</p>
<p>Вы получили это письмо, потому что запросили сброс пароля на сайте "{{ site_name }}".</p>

<p>Перейдите по следующей ссылке для установки нового пароля:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Установить новый пароль
</a></p>

<p>Если ссылка не работает, скопируйте и вставьте ее в браузер:</p>
<p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

<p>Ваше имя пользователя (если вы его забыли): {{ user.get_username }}</p>

<p>Спасибо,<br>{{ site_name }}</p>